@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    box-sizing: inherit;
    overflow-x: hidden;
}

body {
    font-family: 'DM sans', sans-serif;
}

a{
    text-decoration: none;
}
.navegacion{
    
    background-color: #FCFCFD;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 40PX;
    grid-auto-flow: row;
    grid-template-columns: auto auto 1fr;
    font-family: 'DM sans';
}

.logo-container  img {
   display: flex;
   margin: 13px 0 0 158px;
}

.navegacion ul{
    display: flex;
    align-items: center;
    padding: 2rem;
}

.listado{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.listado li{
    padding-right: 2rem;
    list-style: none;
}

.insta {
    margin: 25px 162px 0 auto;
  

}

.insta img {
    width: 30px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 9.88rem;
}

.contact-info {
    flex: 1;
    margin-right: 2rem;
}

.contact-info h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-info p {
    margin-bottom: 1rem;
    text-decoration: none;
    color: #95A1BB;
}

.form-container p {
    color: #95A1BB;
}

.datosClientes {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.field-group {
    margin-bottom: 1rem;
}
.field-group  label{
    display: block;
    margin-bottom: 0.5rem;
}

.field-group input,
.field-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.enviar {
    text-align: center;
    margin-top: 1rem;
}

.enviar input {
    background-color: #000;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.enviar input:hover {
    background-color: #333;
}

footer {
    background-color: #FCFCFD;
    color: #777E90;
    font-family: 'DM sans';
    font-size: 1rem;
    text-align: center;
    padding: 20px 0;
}

footer a img {
    width: 30px;
   
}

footer p {
    font-size: small;
    margin: 10px 0;
}

